<div class="titulo-cabecalho">   
    <h1 *ngIf="!id">Cadastro de autores</h1>
    <h1 *ngIf="id">Ateração de autores</h1>
</div>

<form [formGroup]="autorFormGroup">    
    <div class="form-floating mb-3">
        <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome do autor">
        <div *ngIf="autorFormGroup.get('nome')?.errors?.['required']" class="text-danger">Campo obrigatório</div>
        <label for="nome">Nome</label>
    </div>
    <div class="form-floating">
        <textarea formControlName="biografia" rows="10" class="form-control" id="biografia" placeholder="Biografia do autor"></textarea>
        <div *ngIf="autorFormGroup.get('biografia')?.errors?.['required']" class="text-danger">Campo obrigatório</div>
        <label for="biografia">Biografia</label>
    </div>
    <div class="">  
        <button *ngIf="!id" type="button" class="btn btn-success mt-3" [disabled]="autorFormGroup.invalid">Cadastrar</button>
        <button *ngIf="id" type="button" class="btn btn-success mt-3">Alterar</button>
        <button type="button" class="btn btn-danger mt-3 ms-2" routerLink="/autores">Cancelar</button>
    </div>    
</form>

